.search-button {
  color: gray;
  transition: all 0.3s;
  /* font-size: 12px; */
}

.search-button:hover {
  color: lightgray;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.inherit-padding {
  padding: inherit;
}

.custom-dropdown-menu {
  color: #333333;
  transition: all .3s;
  text-transform: uppercase;
}

.custom-dropdown-menu:hover {
  color: lightgray; 
  text-decoration: none;
}

.custom-dropdown-menu-item {
  display: block;
  background-color: #333333;
  color: white;
  transition: all 0.3s;
  text-transform: uppercase;
}

.custom-dropdown-menu-item:hover {
  color: lightgray;
  text-decoration: none;
}

.custom-dropdown::title {
  color: gray;
  transition: all 0.3s;
}

.custom-dropdown::title:hover {
  color: lightgray;
  text-decoration: none;
}

.white-background {
  background-color: white;
}

.header-background {
  background-color: black;
}

/* TODO: I'm not sure of this... */
/* .dropdown-toggle::after {
    display:none;
} */