.custom-dropdown-link {
    color: gray;
    transition: all .5s;
    font-size: 13px;
    text-transform: uppercase;
}

.custom-dropdown-link:hover {
    color: lightgray;
    text-decoration: none;
}